@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  --c-water: #58a7f7;
  --c-border: #285dbe;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main {
  background-color: #2785e2;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  width: 250px;
}

.glass {
  height: 70px;
  width: 35px;
  background-color: #fff;
  border: 3px solid var(--c-border);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--c-border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.5s linear;
}

.glass.filled {
  background-color: var(--c-water);
  color: #fff;
}

.glass.big {
  width: 100px;
  height: 200px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: flex-end;
  overflow: hidden;
}

.remained-amount {
  font-size: 25px;
}

.glass .filled {
  background-color: var(--c-water);
  color: #fff;
  height: 12.5%;
  width: 100%;
  justify-self: flex-start;
}
